extends layout

block content
  h1 #{title} 
  form(method='POST' action='/')
    .form-group
      label(for='username') Username
      input#username.form-control(type='text', placeholder='Username')
    .form-group
      label(for='email') Email address
      input#email.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
      small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
    .form-group
      label(for='password') Password
      input#password.form-control(type='password', placeholder='Password')
    .form-group
      label(for='confirmPassword') Confirm Password
      input#confirmPassword.form-control(type='password', placeholder='Confirm Password')
    button.btn.btn-primary(type='submit') Submit


