extends layout
block content
  h1 #{title} 
  != messages('message', locals)
  if errors
    each error, i in errors
      div(class="alert alert-danger") #{error.msg}
  form(method='POST' action='')
    .form-group
      label(for='username') Username
      input#username.form-control(type='text', name='username' required='true', placeholder='Username', value=(formData===undefined ? '' : formData.username))
    .form-group
      label(for='password') Password
      input#password.form-control(type='password', name='password' required='true', placeholder='Password')
    button.btn.btn-primary(type='submit') Login
    a.badge.badge-info.small_margin_left(href='/users/forgotpassword')
      | Forgot Password ?
    a.badge.badge-warning.small_margin_left(href='/users/register')
      | Create new account.
  br
  a.btn.btn-primary.fb_button(href='/users/auth/facebook')
    span.fab.fa-facebook.small_margin_right
    |  Sign in with Facebook
  a.btn.btn-primary.google_button(href='/users/auth/google')
    span.fab.fa-google-plus.small_margin_right
    |  Sign in with Google


