extends layout
block content
  h1 #{title} 
  if errors
    each error, i in errors
      div(class="alert alert-danger") #{error.msg}
  form(method='POST' action='')
    .form-group
      label(for='username') Username
      input#username.form-control(type='text', name='username' required='true', placeholder='Username', value=(user===undefined ? '' : user.username))
    .form-group
      label(for='email') Email address
      input#email.form-control(type='email', name='email' required='true', placeholder='Enter email', value=(user===undefined ? '' : user.email) )
      small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
    .form-group
      label(for='password') Password
      input#password.form-control(type='password', name='password' required='true', placeholder='Password')
      small#passwordHelp.form-text.text-muted Password must be of length 8 or greater.
    .form-group
      label(for='confirmPassword') Confirm Password
      input#confirmPassword.form-control(type='password', name='confirmPassword' required='true', placeholder='Confirm Password')
    button.btn.btn-primary(type='submit') Submit


