body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.page-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
h1 {
  text-align: center;
}
